/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #D7BDE2 !important;
}

body .container {
  max-width: 1100px;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

#filter-select {
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

#filter-select:focus {
  border-color: #A569BD;
  box-shadow: 0 0 0 0.2rem rgba(165, 105, 189, 0.25);
}

#filterable-cards .card {
  width: 15rem;
  border: 5px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

#filterable-cards .card img {
  width: 100%; /* Asegura que las imágenes sean responsivas */
  height: auto;
}

@media (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
